<link href="css/dragDropUpload.css" rel="stylesheet">

<div class="card shadow mb-4">
	<!-- Card Header - Dropdown -->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
		<h6 class="m-0 font-weight-bold text-primary">Assignment Activity</h6>
		<div class="dropdown no-arrow">
			<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
				<div class="dropdown-header">Filter:</div>
				<a class="dropdown-item" href="#">Submitted</a>
				<a class="dropdown-item" href="#">Pending</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Show All</a>
			</div>
		</div>
	</div>
	<!-- Card Body -->
	<div class="card-body">
		<div class="table-responsive">
		  <table class="table table-bordered" id="assignmentsDataTable" width="100%" cellspacing="0">
		    <thead>
		      <tr>
				<th>ID</th>
		        <th>Due Date</th>
		        <th>Description</th>
		        <th>Reference</th>
		        <th>Comment</th>
		        <th>Link</th>
                <th>Total Marks</th>
                <th>Status</th>
				<th>Marks Obtained</th>
                <th>Submitted On</th>
				<th>Submission ID</th>
		      </tr>
		    </thead>
		  </table>
		</div>
	</div>
</div>

<div id="assingnmentModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="card shadow mb-4">
				<!-- Card Header - Dropdown -->
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Assignment Submission</h6>
				</div>
				<!-- Card Body -->
				<div class="card-body">
					<div class="container">
						<div class="panel panel-default">
							<div class="panel-body">

							<!-- Standar Form -->
							<h6>Select Assignment File from your computer</h6>
							<form action="http://localhost:3000/api/files/upload/" method="post" enctype="multipart/form-data" id="js-upload-form">
								<div class="form-inline">
									<div class="form-group">
										<input type="file" name="file_name" id="js-upload-files">
									</div>
									<button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Submit</button>
								</div>
							</form>
							<br><br>
							<!-- Drop Zone -->
							<div class="upload-drop-zone" id="drop-zone">
								Just drag and drop files here
							</div>

						</div>
					</div> <!-- /container -->
					<div class="d-flex flex-row justify-content-around">
						<div class="p-2">
							<a href="javascript:void(0);" id="oldSubmitAssignLink" download class="btn btn-success btn-icon-split" disabled>
								<span class="icon text-white-50">
									<i class="fas fa-check"></i>
								</span>
								<span class="text">Download Submitted Assignment</span>
							</a>
						</div>
						<div class="p-2">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>