<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<div class="container-fluid" id="mainContent">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{courseName}}</h1>
    </div>
    <div>
		<ul class="nav nav-pills nav-justified">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#classes">Classes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#materials">Materials</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#assignment">Assignments</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#exam">Exams</a>
			</li>
		</ul>
    </div>
    <br>
<div class="tab-content">
	<div id="classes" class="tab-pane container-fluid active">

	</div>
	<div id="materials" class="tab-pane container-fluid  fade">

	</div>
	<div id="assignment" class="tab-pane container-fluid fade">

	</div>
	<div id="exam" class="tab-pane container-fluid  fade">

	</div>
</div>